.loader {
    border: 10px solid #f3f3f3;
    border-radius: 64%;
    border-top: 10px solid #ffd500;
    border-bottom: 10px solid #ffd500;
    width: 6px;
    height: 6px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }